<button class="button insecure" popovertarget="po-tag">
  <span class="signature"><%= tag.security %></span>
</button>

<div id="po-tag" class="popover insecure" popover="auto">
  <h1 class="label">Version <%= tag.version %></h1>
  <p>No signature found.</p>
</div>
